body {
    background-color: lightgray;
}

h1 {
    border-style: dotted;
    border-width: 2px;
    padding: 10px;
}

p {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
}